In [4]:
import pandas as pd

In [5]:
org_author_data = pd.read_csv("../data/original_data/author_data.csv")
org_comment_data = pd.read_csv("../data/original_data/comment_data.csv")
org_gilds_data = pd.read_csv("../data/original_data/gildings_data.csv")
author_data = pd.read_csv("../data/data/raw/author_data.csv")
comment_data = pd.read_csv("../data/data/raw/comment_data.csv")
gilds_data = pd.read_csv("../data/data/raw/gildings_data.csv")

/usr/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (0,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/usr/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [16]:
author_data_merged = pd.concat([org_author_data, author_data], ignore_index=True)
comment_data_merged = pd.concat([org_comment_data, comment_data], ignore_index=True)
gilds_data_merged = pd.concat([org_gilds_data, gilds_data], ignore_index=True)

In [22]:
author_data_merged

       author_ids  comment_karma  link_karma   created_utc  is_premium
0           d73zv         111624        3942  1.379473e+09       False
1         1b8t8i5          44347         689  1.494972e+09       False
2           xa1p6         101101       14946  1.461016e+09       False
3           5u4v8         189307       97587  1.315722e+09        True
4        3sxf8q36          25181        1115  1.558327e+09       False
...           ...            ...         ...           ...         ...
703875      zu6vf          16601         939  1.469571e+09       False
703876      7mp0x         261924      133522  1.336090e+09       False
703877      6k9dd          54103       13348  1.325481e+09       False
703878     12h108           3793         133  1.477811e+09       False
703879      ispne          12407           2  1.412973e+09       False

[703880 rows x 5 columns]

For author data, we drop the duplicate entries (and keep the very last entry). This is because the last entry will be the most recent.

For the other files, we simply merge.

Note: For data collection, author data was only collected once within each csv file (i.e. the data may have changed during scraping).

In [23]:
print(len(author_data_merged))
print(len(author_data_merged.drop_duplicates(subset = 'author_ids', keep='last')))

703880
577708